<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>News_Scraper</title>

  <!-- CSS Style Sheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

</head>
<body>
  

    <div class="jumbotron">
      <div id="main-container">
        <h1 id="scrape-headline">News Scraper</h1>
        <a class="btn btn-primary btn-lg" href="#" role="button" id="scrape-button">Scrape!</a>
      </div>
    </div>

    <div id="main-div">
      {{{ body }}}
    </div>

  <!-- JavaScript -->
  <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="app.js"></script>
</body>
</html>